extends layout

extends layout

block content
  h1 Tim's FreeCodeCamp Project
  h2 File Metadata Microservice

  p Instructions:
  p.red Upload any file of your choice and you will receive the file size in bytes

  form(method="post", enctype="multipart/form-data", action="/upload/")
      input(type="hidden", name="file", value=sessionId)

      p Image:
          input(type="file", name="image")
      p
          input(type="submit", value="Upload")
  if size
    h2 Your file is:
    h2 #{size} bytes
